<extend name="Base/common" />
<block name="header">
</block>

<block name="body">
<section>
  <div class="container demo-1">
    <div class="content">
      <div id="large-header" class="large-header">
        <canvas id="demo-canvas"></canvas>
        <div class="logo_box">
          <h3>欢迎你</h3>
          <form class="login-form" action="__SELF__" method="post">
            <div class="control-group">
              <label class="control-label" for="inputEmail">用户名</label>
              <div class="controls">
                <input type="text" id="inputEmail" class="span3" placeholder="请输入用户名"  ajaxurl="/member/checkUserNameUnique.html" errormsg="请填写1-16位用户名" nullmsg="请填写用户名" datatype="*1-16" value="" name="username">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="inputPassword">密码</label>
              <div class="controls">
                <input type="password" id="inputPassword"  class="span3" placeholder="请输入密码"  errormsg="密码为6-20位" nullmsg="请填写密码" datatype="*6-20" name="password">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="inputPassword">验证码</label>
              <div class="controls">
                <input type="text" id="inputPassword" class="span3" placeholder="请输入验证码"  errormsg="请填写5位验证码" nullmsg="请填写验证码" datatype="*5-5" name="verify">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label"></label>
              <div class="controls">
                <img class="verifyimg reloadverify" alt="点击切换" src="{:U('verify')}" style="cursor:pointer;">
              </div>
              <div class="controls Validform_checktip text-warning"></div>
            </div>
            <div class="control-group span6">
              <div class="controls span2">
                <label class="span2">
                  <input type="checkbox"> 自动登陆
                </label>
                <button type="submit" class="btn span2" >登 陆</button>
              </div>
            </div>
          </form>
          <label class="checkbox  span1">
          <div class="container">
            <p><span class="checkbox span2"><span>还没有账号? <a href="{:U('User/register')}"><span style="color: #f133f1">立即注册</span></a></span> </span></p>
          </div>
          </label>
        </div>
      </div>
    </div>
  </div><!-- /container -->
  <script src="/Public/static/login/js/TweenLite.min.js"></script>
  <script src="/Public/static/login/js/EasePack.min.js"></script>
  <script src="/Public/static/login/js/rAF.js"></script>
  <script src="/Public/static/login/js/demo-1.js"></script>
</section>
</block>

<block name="side"> </block>
<block name="script">
	<script type="text/javascript">

    	$(document)
	    	.ajaxStart(function(){
	    		$("button:submit").addClass("log-in").attr("disabled", true);
	    	})
	    	.ajaxStop(function(){
	    		$("button:submit").removeClass("log-in").attr("disabled", false);
	    	});


    	$("form").submit(function(){
    		var self = $(this);
    		$.post(self.attr("action"), self.serialize(), success, "json");
    		return false;

    		function success(data){
    			if(data.status){
    				window.location.href = data.url;
    			} else {
    				self.find(".Validform_checktip").text(data.info);
    				//刷新验证码
    				$(".reloadverify").click();
    			}
    		}
    	});

		$(function(){
			var verifyimg = $(".verifyimg").attr("src");
            $(".reloadverify").click(function(){
                if( verifyimg.indexOf('?')>0){
                    $(".verifyimg").attr("src", verifyimg+'&random='+Math.random());
                }else{
                    $(".verifyimg").attr("src", verifyimg.replace(/\?.*$/,'')+'?'+Math.random());
                }
            });
		});
	</script>
</block>
