
<extend name="Base/base"/>
<block name="main">
    <div id="banner">
        <ul id="banner_img">

            <li class="item8">
                <div class="wrapper">
                    <div class="ad_txt">
                        <h2>智慧点亮网络(RUIFOX-LAB)</h2>
                        <p>
                            互联网改变世界，我们改变互联网。<br />
                            精彩前沿技术演练场。<br />
                            锐狐新产品尝鲜体验。
                        </p>
                        <a href="{:U('Notice/index')}" target="_blank">了解详细&gt;</a>
                    </div>
                    <div class="ad_img">
                        <img src="/Public/static/index/images/20120830015726137.png" width="506" height="404" alt="智慧点亮网络(RUIFOX-LAB)" />
                    </div>
                </div>
            </li>
        </ul>
        <div id="banner_ctr">
            <div id="drag_ctr"></div>
            <ul>
                <li class="first-item">网站建设</li>
                <li><a href="">品牌网站建设</a></li>
                <li>应用系统开发</li>
                <li>网络整合营销</li>
                <li>网络运维托管</li>
                <li>手机APP开发</li>
                <li>学术会议系统</li>
                <li>医院网站系统</li>
                <li>实验室</li>
                <li class="last-item">网站设计</li>
            </ul>
            <div id="drag_arrow"></div>
        </div>
    </div>
</block>